

  <table>
    <td><%= order.product_name%></td>
    <td> <%= order.product_count %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %> 
        <%=link_to'Delete', order, method: :delete %></td>

  </table>

